# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# gsoap things
src/ws/test/*.h
src/ws/test/*.nsmap
src/ws/test/*.cpp
src/ws/test/*.xml
